<!-- Begin a head -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-0 mb-5  bg-white rounded">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center marria" id="navbarNav" >
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="#">Башкы<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="{ }">Кызматкерлер</a>
      </li>
        {% if user.request %}
      <li class="nav-item active">
        <a class="nav-link " href="{ }">Чыгуу</a>
      </li>
        {% endif %}
      <li class="nav-item active">
        <a class="nav-link " href="#" >Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End a head -->